USE [master]
GO
/****** Object:  Database [PruebaItSense]    Script Date: 3/09/2021 2:54:45 a.m. ******/
CREATE DATABASE [PruebaItSense]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PruebaItSense', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PruebaItSense.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PruebaItSense_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PruebaItSense_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PruebaItSense].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PruebaItSense]
GO
USE [PruebaItSense]
GO
/****** Object:  Table [dbo].[estados]    Script Date: 3/09/2021 2:54:46 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[codigo] [int] NOT NULL,
 CONSTRAINT [PK_estados_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productoEstado]    Script Date: 3/09/2021 2:54:46 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productoEstado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NOT NULL,
	[idEstado] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
 CONSTRAINT [PK_productoEstado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 3/09/2021 2:54:47 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[codigo] [int] NOT NULL,
 CONSTRAINT [PK_productos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[estados]  WITH CHECK ADD  CONSTRAINT [FK_estados_estados] FOREIGN KEY([id])
REFERENCES [dbo].[estados] ([id])
GO
ALTER TABLE [dbo].[estados] CHECK CONSTRAINT [FK_estados_estados]
GO
ALTER TABLE [dbo].[productoEstado]  WITH CHECK ADD  CONSTRAINT [FK_productoEstado_estados] FOREIGN KEY([idEstado])
REFERENCES [dbo].[estados] ([id])
GO
ALTER TABLE [dbo].[productoEstado] CHECK CONSTRAINT [FK_productoEstado_estados]
GO
ALTER TABLE [dbo].[productoEstado]  WITH CHECK ADD  CONSTRAINT [FK_productoEstado_productos] FOREIGN KEY([idProducto])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[productoEstado] CHECK CONSTRAINT [FK_productoEstado_productos]
GO
USE [master]
GO


USE [PruebaItSense]
GO

INSERT [dbo].[estados] ([id], [nombre], [codigo]) VALUES (1, N'Entrada', 0)
INSERT [dbo].[estados] ([id], [nombre], [codigo]) VALUES (2, N'Salida', 1)
INSERT [dbo].[estados] ([id], [nombre], [codigo]) VALUES (3, N'Defectuoso', 2)

